@{
    ViewBag.Title = "Find Lane";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("FindLane", "Home", FormMethod.Post))
{
    <div>
        <label>Type the Lane Id</label>
    </div>

    <div>
        <input type="text" name="LaneId" />
    </div>

    <div>
        <input type="submit" />
    </div>

    <div>
        @Html.ActionLink("Back", "ClubOfficialOptions", "Home")
    </div>
}
